<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/dados.css">


   <style>
  .navbar{
    height: 7rem !important;
    border-bottom: 1px solid #97feed83;
  }
  .btn-entrar{
    border: 2px solid #97FEED  !important ;
    background-color: #071952 !important ;
    color: white; font-size: 1.3rem !important ;
    border-radius: 14px; width: 7rem; height: 2.4rem !important ;
    }



</style>


<nav class="navbar navbar-expand-lg navbar-bg">
  <div class="container">
    <a class="navbar-brand" href="">
                 <img class="img-logo" src="/assets/logo-integrador.png" alt="Logo Inclusion Map">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
         
            <a href="/inclusion/logout"><button  class="btn-entrar  ">Logout</button></a>

        </li>


      </ul>
    </div>
  </div>
</nav>
       
     
           
<table>
    <tr>
      <th>NOME</th>
      <th>EMAIL</th>
      <th>CPF</th>
      <th>DEFICIENCIA</th>
      <th>DESCRIÇÃO</th>
      <th>SAIBA MAIS</th>
     

    </tr>

    {{#if info }}
     {{#each info}}
    <tr class="let user of menbers" >
      <td> {{this.nome}}</td>
      <td>{{this.email}}</td>
      <td>{{this.cpf}}</td>
      <td>{{this.descricao}}</td>
      <td>{{this.dificuldade}}</td>
      <td><a class="link-maisinfo" href="/inclusion/perfil/{{this.id}}">Mais Informações</a></td>
     
   {{/each}}
    {{else}}
    <div class="nenhumCadastro">
    <h2 class="">NENHUM CADASTRO REALIZADO</h2>
    </div>
    {{/if}}
    </tr>
   
  </table>


  
     

    



   
    
