<link rel="stylesheet" href="/css/dados.css">


   
       
     
           
<table>
    <tr>
      <th>NOME</th>
      <th>EMAIL</th>
      <th>CPF</th>
      <th>DEFICIENCIA</th>
      <th>DESCRIÇÃO</th>
      <th>SAIBA MAIS</th>
     

    </tr>

    {{#if info }}
     {{#each info}}
    <tr class="let user of menbers" >
      <td> {{this.nome}}</td>
      <td>{{this.email}}</td>
      <td>{{this.cpf}}</td>
      <td>{{this.descricao}}</td>
      <td>{{this.dificuldade}}</td>
      <td><a class="link-maisinfo" href="/inclusion/perfil/{{this.id}}">Mais Informações</a></td>
     
   {{/each}}
    {{else}}
    <div class="nenhumCadastro">
    <h2 class="">NENHUM CADASTRO REALIZADO</h2>
    </div>
    {{/if}}
    </tr>
   
  </table>


  
     

    



   
    
